$colorCloud: #D4D8E9;

$colorGray: #CDCDCD;
$colorGray2: #F2F2F2;
$colorGray3: #D1D1D1;
$colorGray4: #B3B3B3;
$colorGray5: #797979;
$colorLightGray: #F0F0F0;
$colorLightGray2: #CECECE;

$colorPaleBlue: #E9EBF4;
$colorBlue: #2E5BC9;
$colorBlue1: blue;
$colorDarkBlue: #04133B;
$colorDarkBlue1: #3a74ad;
$colorDarkBlue2: #3C5780;
$colorDarkBlue3: #455672;
$colorDarkBlue4: #435772;


$colorGreen: #60A42B;
$colorGreen2: #76af4b;
$colorPersianGreen: #00A997;

$colorBlack: #333;
$colorBlackPale: #5C5C5C;
$colorBlackVeryPale: #999999;
$colorBlackVeryPale2: #666666;

$colorRed: #D82216;
$colorRed2: #C50000;
$colorRed3: #D52B00;
$colorLightRed: #FCD7D5;

$colorWhite: #FFF;
